doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='UTF-8')
        title Error 404 - CultUPB
        link(href='/stylesheets/style.css', type='text/css', rel='stylesheet')
        link(href='/stylesheets/bootstrap.min.css', type='text/css', rel='stylesheet')

    body
        .Wrapper
            .Body
                .Container.Page404Cn
                    .Page404
                        figure
                            img(src='/images/404.png')
                        .Title Algo anda mal
                        .SubTitle La página solicitada no existe
                        a.Button(href='/') REGRESAR AL INICIO
    script(src='/javascripts/bootstrap.min.js')